@import "../app/app.scss";

#hero {
  height: 100vh;
  background: $base-color;
  overflow: hidden;
}

.ctaSection {
  width: 800px;
  margin: 0 auto;
  z-index: 999;

  @media (max-width: 1500px) {
    width: 700px;
  }
  @media (max-width: 1000px) {
    width: 600px;
  }
  @media (max-width: 800px) {
    width: 500px;
  }
  @media (max-width: 600px) {
    width: 400px;
  }
  @media (max-width: 400px) {
    width: 300px;
  }
  @media (max-width: 300px) {
    width: 200px;
  }

  .mountain,
  .infraslimx {
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  .mountain {
    width: 450px;
    @media (max-width: 1000px) {
      margin-top: 200px;
    }
    @media (max-width: 800px) {
      width: 400px;
    }
    @media (max-width: 600px) {
      width: 300px;
    }

    @media (max-width: 400px) {
      margin-top: 150px;
    }

    @media (max-width: 350px) {
      width: 250px;
      margin-top: 80px;
    }
  }
  .infraslimx {
    width: 80%;
    margin-top: 50px;

    @media (max-width: 1000px) {
      width: 80%;
    }
    @media (max-width: 800px) {
      width: 70%;
    }
  }
}

.cta {
  padding: 20px 40px;
  margin: 10px auto;
  display: block;
  letter-spacing: 1.5px;
  border: 3px solid $pink-color;
  font-size: 25px;
  border-radius: 50px;
  background: transparent;
  color: $pink-color;

  z-index: 99;

  transition: 400ms;

  &:hover {
    background: $pink-color;
    color: $white-color;
  }

  @media (max-width: 1500px) {
    font-size: 22px;
  }
  @media (max-width: 1000px) {
    font-size: 20px;
  }
  @media (max-width: 800px) {
    font-size: 18px;
  }
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.video {
  position: absolute;
  z-index: -1;
  width: 100%;
}
