#reservation {
  min-height: 40vh;

  .container {
    padding-top: 80px;
    padding-left: 40px;

    p {
      margin-top: 20px;
      font-size: 25px;

      @media (max-width: 1500px) {
        font-size: 22px;
      }
      @media (max-width: 1000px) {
        font-size: 20px;
      }
      @media (max-width: 800px) {
        font-size: 18px;
      }
    }

    @media (max-width: 600px) {
      padding-left: 20px;
    }

    h1 {
      font-size: 70px;

      @media (max-width: 1500px) {
        font-size: 60px;
      }
      @media (max-width: 1000px) {
        font-size: 50px;
      }
      @media (max-width: 800px) {
        font-size: 40px;
      }
      @media (max-width: 350px) {
        font-size: 30px;
      }
    }

    .kapcsolat {
      display: flex;
      justify-content: space-evenly;
      margin-top: 50px;

      @media (max-width: 400px) {
        flex-wrap: wrap;
      }

      .icons {
        display: flex;
        flex-direction: column;
        width: 50%;

        @media (max-width: 400px) {
          margin-top: 20px;
        }
        .p {
          margin: 0 auto;
          text-align: center;

          @media (max-width: 400px) {
            font-size: 11px;
          }
        }
        .icon-img {
          width: 40px;
          margin: 0 auto;

          img {
            width: 100%;
          }
        }
      }
    }

    .location {
      display: flex;
      margin: 40px auto;
      width: max-content;

      .loc-img {
        width: 45px;
        img {
          width: 100%;
        }
      }

      h4 {
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }
}
