@import "../app/app.scss";

#infraslim {
  min-height: 200vh;
  background: $base-color;
  color: $white-color;

  .container {
    overflow: hidden;
    padding-top: 80px;
    padding-left: 40px;
  }

  .title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 60px;
  }

  p {
    font-size: 25px;
    width: 70%;
    line-height: 2;
    margin-bottom: 20px;
  }

  .img {
    position: absolute;
    left: 25%;

    img {
      width: 90%;
      z-index: -1;
    }
  }

  .list {
    font-size: 25px;
    ul {
      li {
        display: flex;
        align-items: center;

        .ellipse {
          margin-right: 10px;
        }
        .label {
          margin-bottom: 10px;
        }
      }
    }
  }

  .cards {
    display: flex;
    margin: 10px auto;
    width: 95%;

    .health,
    .sport,
    .beauty {
      border: solid 3px $pink-color;
      border-radius: 5px;
      margin: 20px;

      padding: 30px;
      text-align: center;

      .card-title {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
      }

      .img-card {
        margin: 0 auto;
        img {
          width: 64px;
        }
      }

      p {
        font-size: 20px;
        margin: 80px auto 20px;
        text-align: justify;
      }
    }
  }
}
