@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

svg {
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav {
  height: 150px;
  background: #141415;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav .display {
  display: none;
}

@media (max-width: 1000px) {
  .nav {
    height: 90px;
  }
}

.nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 50px;
}

.nav nav .logo {
  width: 80px;
}

@media (max-width: 1000px) {
  .nav nav .logo {
    width: 40px;
  }
}

.nav nav .logo img {
  width: 100%;
}

.nav nav .burger-menu {
  display: none;
  width: 40px;
  margin-top: 5px;
}

.nav nav .burger-menu img {
  width: 100%;
}

@media (max-width: 1000px) {
  .nav nav .burger-menu {
    display: block;
  }
}

.nav nav #menu-open {
  background: #f9f7f4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
}

.nav nav #menu-open .top {
  text-align: center;
  padding: 20px;
}

.nav nav #menu-open ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  float: right;
  text-align: right;
}

.nav nav #menu-open ul li {
  list-style-type: none;
  margin-top: 5px;
  padding: 10px;
  font-size: 15px;
}

.nav nav #menu-open ul button {
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  border: 0;
  background: #ed027e;
  color: #f9f7f4;
  letter-spacing: 1.5px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.nav nav #menu-open ul button:hover {
  background: transparent;
  color: #141415;
}

.nav nav .list {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .nav nav .list {
    display: none;
  }
}

.nav nav .list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav nav .list ul li {
  list-style-type: none;
  color: #f9f7f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.nav nav .list ul li:hover {
  color: #616161;
}

.nav nav .list button {
  display: block;
  padding: 15px 20px;
  border-radius: 10px;
  border: 0;
  background: #ed027e;
  color: #f9f7f4;
  letter-spacing: 1.5px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.nav nav .list button:hover {
  background: transparent;
}
/*# sourceMappingURL=nav.css.map */