@import "../app/app.scss";

#about {
  background: $white-color;
  min-height: 100vh;

  .container {
    display: flex;
    padding-top: 80px;
    padding-left: 40px;

    @media (max-width: 600px) {
      padding-left: 20px;
    }

    .text-div {
      flex: 70%;

      .title {
        margin-bottom: 80px;
        h1 {
          font-size: 70px;
          font-weight: 700;

          @media (max-width: 1500px) {
            font-size: 60px;
          }
          @media (max-width: 1000px) {
            font-size: 50px;
          }
          @media (max-width: 800px) {
            font-size: 40px;
          }
        }
      }

      .text {
        h2 {
          font-size: 35px;
          font-weight: 600;
          line-height: 1.8;
          margin-bottom: 70px;

          @media (max-width: 1500px) {
            font-size: 30px;
          }
          @media (max-width: 1000px) {
            font-size: 25px;
          }
          @media (max-width: 800px) {
            font-size: 20px;
          }
        }

        p {
          font-size: 25px;
          line-height: 2;
          width: 90%;

          @media (max-width: 1500px) {
            font-size: 22px;
          }
          @media (max-width: 1000px) {
            font-size: 20px;
          }
          @media (max-width: 800px) {
            font-size: 18px;
          }
        }

        h3 {
          margin-top: 20px;

          @media (max-width: 1500px) {
            font-size: 20px;
          }
          @media (max-width: 1000px) {
            font-size: 18px;
          }
          @media (max-width: 800px) {
            font-size: 16px;
          }
        }
      }

      .cta {
        margin: 50px 0;
      }
    }
    .img-div {
      flex: 30%;
      overflow: hidden;

      @media (max-width: 1000px) {
        display: none;
      }
    }
  }
}
.pink-words {
  color: $pink-color;
}
